<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 hidden-sm-down">
			<div class="jumbotron ">
				<h1 style="text-align: center;">εὑρίσκω: I discover, I find, I acquire</h1><br/>
				<h4 style="text-align: center;">Design of Eurisko: to assist administration and PIs in human ressource tasks.</h4> <br/>
				<p>Eurisko will allow managers to post and maintain job descriptions for open positions; and to administration to assist them.
					The job description can be previewed. Candidates will be able to apply and their aapplication will be associated 
					to the job description.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card">
				<img class="card-img img-fluid" src="images/research600.jpg" alt="Card image">
				<div class="card-img-overlay">
					<!--					<h4 class="card-title">Card title</h4>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
						bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
-->
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center border-success">
				<div class="card-header">
					Job Application
				</div>
				<!--				<img class="card-img-top" [src]="'src/images/GIGAlogo.png" alt="Card image cap">-->
				<div class="card-body ">
					<h4 class="card-title">Forms</h4>
					<img class="card-img img-fluid" src="images/job-application.jpg" alt="Card image">
					<br/>
					<p class="card-text">Eurisko will show manage application process.</p>
				</div>
				<div class="card-footer text-muted">
					2 days ago
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center border-primary">
				<div class="card-header">
					Information
				</div>
				<!--				<img class="card-img-top" [src]="'src/images/GIGAlogo.png" alt="Card image cap">-->
				<div class="card-body text-xs-center">
					<h4 class="card-title">Messages</h4>
					<p class="card-text">Eurisko will show here user specific relevant messages.</p>
					<ul class="card-text text-xs-left mail">
						<li>New application for position 'Laboratory technician: sequencing specialist'.</li>
						<li>New application for position 'IT specialist: database administrator MySQL'.</li>
						<li>Contact administration: one of your job description is incomplete</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center border-warning">
				<div class="card-header">
					Todo
				</div>
				<div class="card-body">
					<h4 class="card-title">Programming</h4>
					<ul class="card-text text-xs-left">
						<li>Add my basket to My Krino</li>
						<li>Enter new records: otps, ...</li>
						<li>Tagging in comments; make them navigable, indexable and linked</li>
						<li>Allow pictures upload: for example for users</li>
						<li>Deliveries</li>
						<li>Interaction with SAP</li>
						<li>Commentary: allow updates only to owner + allow owner to delete comments</li>
						<li>Orders: work with human readable order Id</li>
						<li>Make lists filterable: OK</li>
						<li>Comment system: OK</li>
						<li>Create a dashboard: OK</li>
						<li>Integrate a graphic library: OK</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center border-danger">
				<div class="card-header">
					Known bugs
				</div>
				<div class="card-body">
					<h4 class="card-title">Programming</h4>
					<ul class="card-text text-xs-left">
						<li>The selector alows to select several items, even when only one should be allowed</li>
						<li>Accordions sometimes recolapse after selection edit: solved</li>
						<li>The main tabs get not activated after routing: solved</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card text-xs-center border-success">
				<div class="card-header">
					Krino features
				</div>
				<div class="card-body">
					<h4 class="card-title">Design aspects</h4>
					<ul class="card-text text-xs-left">
						<li>Responsive to different screen sizes</li>
						<li>Configurable for different needs in different labs: service injectable</li>
						<li>Component oriented: reuse same code in different parts of website</li>
						<li>Configurable by user: drag and drop dashboard</li>
						<li>In place edit</li>
						<li>Responsive to data change in one sector of the program</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>